.enter-information-pop {
  background: rgba(2, 56, 152, 0.9) !important;
  border: 1px solid #1a8bff !important;
}
.enter-information-pop .el-cascader-node__label {
  color: #1adcff;
}

.enter-information-pop .el-icon {
  color: #1adcff;
}

.el-cascader-node:not(.is-disabled):focus,
.el-cascader-node:not(.is-disabled):hover
  .enter-information-pop
  .el-cascader-node:not(.is-disabled):focus,
.enter-information-pop .el-cascader-node:not(.is-disabled):hover {
  background: rgba(2, 56, 152, 1) !important;
}

.enter-information-pop .el-cascader-node:not(.is-disabled):hover span,
.enter-information-pop .el-cascader-node:not(.is-disabled):hover span {
  color: white !important;
}

.enter-information-pop .in-active-path .el-cascader-node__label {
  color: white !important;
}

.enter-information-pop .in-active-path .el-icon {
  color: white !important;
}

.enter-information-pop .el-popper__arrow:before {
  display: none;
}

/* 通知提醒 */
.el-message .el-icon {
  width: 16px !important;
  height: 16px !important;
}

.role-popper {
  background: rgba(2, 56, 152, 0.9) !important;
  border: 1px solid #1a8bff !important;
}

.role-popper .el-select-dropdown__item span {
  color: #1adcff !important;
}
.role-popper .hover,
.role-popper .selected {
  background: rgba(2, 56, 152, 1) !important;
}

.role-popper .hover span,
.role-popper .selected span {
  color: #ffffff !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-transition-delay: 99999s;
  -webkit-transition: color 99999s ease-out, background-color 99999s ease-out;
}
